// Specific CSS for your home-page
h1 {
  font-weight: lighter;
  text-transform: uppercase;
  animation: 10s neon 1s linear infinite;
  color: $light-gray;
  transition: 1s ease;
}

h2 {
  color: $space-grblue;
}

h3 {
  color: $space-grblue;
}

h4 {
  color: $space-grblue;
}

p {
  color: $space-grblue;
}

.form-group label {
  color: white;
}
