  <div class="footer">
    <div class="links">
       <ul class = "list-inline-spatial">
         <li>
            <a href="#" target="_blank">
              <i class ="fb fab fa-facebook-f">
             </i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class ="tw fab fa-twitter">
             </i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="icone">
              <i class ="git fab fa-github">
             </i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="icone">
              <i class ="lkd fab fa-linkedin">
             </i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="icone">
              <i class ="lkd fab fa-instagram">
             </i>
            </a>
          </li>
       </ul>
    </div>
  </div>
