<div class="navbar-spatial">
  <span class="span1">
    <a href="" class="home"><i class="roc fas fa-rocket"></i></a>
    <a href="" class="profil"><i class="ast fas fa-user-astronaut"></i></a>
    <a href="" class="log-in"><i class="glo fas fa-globe"></i></a>
  </span>
</div>
