<div class="container-index-home">
<h1>Bienvenue sur Toto Travel</h1>
<p>L'agence de location de vaisseaux avec 1500ans d'avance...</p>
<br>
<br>
<br>
<h2>Que diriez-vous de quitter la planète ?</h2>


<%= link_to spaceships_path, class: "nav-link" do %>
    <div class="btn btn-primary-big">Let's Go !</div>
<% end  %>
</div>

<div class="container-home">
    <div class="card-user-profil">
      <p>"Préparez votre baluchon, on part sur Pluton !<br>
      Envie de changer d'air ? Destination Jupiter.<br>
      La vie est trop dure ? Cap sur Mercure. <br>
      Ça vous casse les burnes ? Allez sur Saturne !"</p>
      <p class="text-right"> Commandant Jean-Loup Peres</p>
    </div>
  </div>
