<div class="container-index">
<h1>Bienvenue sur Toto Travel</h1>
<p>L'agence de voyage avec 1500ans d'avance...</p>
<form>
  <div class="form-row">
    <p></p>
    <div class="col-7">
      <input type="text" class="form-control" placeholder="Date de">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Spatioport">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Zip">
    </div>
  </div>
</form>
<h2><%= link_to "Proposer son vaisseau", new_spaceship_path %></h2>
</div>
<div class="container">
  <div class="cards">
    <% @spaceships.each do |spaceship| %>
      <%= link_to spaceship_path(spaceship) do %>
        <div class="card" style="background-image: <% if spaceship.photo.attached? %>
          url('<%= cl_image_path spaceship.photo.key, height: 300, width: 400, crop: :scale %>')
          <% else %> url('https://images.unsplash.com/photo-1565185777274-32ee0b467c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80')
          <% end %>">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= spaceship.name %></h5>
        </div>
      <% end %>
    <% end %>
  </div>


</div>

<%# https://images.unsplash.com/photo-1565185777274-32ee0b467c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80 %>

