.btn-reservation {
  display: flex;
  position: relative;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-reservation a {
  bottom: -8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  animation: 2s neon2 2s linear infinite;
}

.btn-reservation a:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 10px blue;
  transition: 0.5s ease;
}

.btn-search {
  display: flex;
  position: absolute;
  list-style: none;
  text-decoration: none;
  bottom: 27px;
  border-radius: 50px;
  width: 250px;
  background-color: $space-grblue;
  box-shadow: 3px 0px 0px $space-grblue;
  opacity: 0.7;
  transition: 0.5s ease;
  font-weight: bold;
  color: $space-grblue;
}

.btn-primary {
  margin-left: 17px;
  background-color: $space-grblue;
  opacity: 0.8;
  transition: 0.5s ease;
  color: #cfd3ce;
  border: 1px solid $space-grblue;
  &:hover {
  box-shadow: 0px 0px 20px blue;
  background-color: $space-grblue;
  opacity: 1;
  color: white;
  transition: 0.5s ease;
  border: 1px solid $space-grblue;
  }
}

.btn-primary-big {
  background-color: $space-grblue;
  opacity: 0.8;
  transition: 0.5s ease;
  color: #cfd3ce;
  border-radius: 20px;
  border: 1px solid $space-grblue;
  padding: 30px;
  font-size: 30px;
  &:hover {
  box-shadow: 0px 0px 20px blue;
  background-color: $space-grblue;
  opacity: 1;
  color: white;
  transition: 0.5s ease;
  border: 1px solid $space-grblue;
  }
}


.file optional {
   margin-left: 17px;
  background-color: $space-grblue;
  opacity: 0.8;
  transition: 0.5s ease;
  color: #cfd3ce;
  border: 1px solid $space-grblue;
  &:hover {
  box-shadow: 0px 0px 20px blue;
  background-color: $space-grblue;
  opacity: 1;
  color: white;
  transition: 0.5s ease;
  border: 1px solid $space-grblue;
  }
}
