.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-clip: border-box;
  height: 300px;
  width: 400px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}
.card:hover {
  box-shadow: 0px 0px 20px #2299e2;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.cards-show {
  display: flex;
  top: 24%;
  justify-content: space-around;
}

.card-show {
  background-color: rgba(250, 250, 250, 0.1);
  color: white;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  margin: 20px;
}

.card-show-description {
  position: relative;
  background-color: rgba(250, 250, 250, 0.1);
  color: white;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
  margin: 0px 60px;
  width: 800px;
}

.vide {
  width: 100px;
}

.show_bottom {
  align-items: center;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-index {
  background-color: rgba(250, 250, 250, 0.2);
  color: white;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  padding: 20px;
  margin: 100px;
}

.card-body {
  display: flex;
  display: inline-block;
  width: 100%;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  background-color: rgba(250, 250, 250, 0.1);
}

.card-body a {
  text-decoration: none;
  &:hover {
   text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-user-profil {
  position: absolute;
  display: flex;
  display: inline-block;
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(250, 250, 250,0.2);
  animation: 7s neon 1s linear infinite;
}
