.container-index {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-index p {
  display: flex;
  padding-bottom: 100px;
  color: $light-gray;
  justify-content: center;
}

.form-row {
  display: flex;
  width: 100%;
}

.spaceshipslist {
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
