.container-index {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-index p {
  display: flex;
  padding-bottom: 100px;
  color: $light-gray;
  justify-content: center;
}

.form-row {
  display: flex;
  width: 100%;
}

.spaceshipslist {
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

form {
  margin-left: 100px;
  margin-right: 100px;
}

.form-control:hover {
box-shadow: 0px 0px 20px blue;
transition: 0.5s ease;
}

.container-show-description {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 100%;
  bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 91px;
}

.container-user {
  margin-top: 50px;
  display: flex;
  height: 300px;
  justify-content: center;
}
