.container-index {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-index p {
  display: flex;
  padding-bottom: 100px;
  color: $light-gray;
  justify-content: center;
}

.container-index-home {
  justify-content: center;
  text-align: center;

}

.container-index-home p {
  display: flex;
  color: $light-gray;
  justify-content: center;
}

.container-home {
  margin-top: 50px;
  display: flex;
  height: 300px;
  justify-content: center;
}

.form-row {
  display: flex;
  width: 100%;
}

.spaceshipslist {
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

form {
  margin-left: 100px;
  margin-right: 100px;
}

.form-control:hover {
box-shadow: 0px 0px 20px #2299e2;
transition: 0.5s ease;
}

.container-show-description {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 100%;
  bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 91px;
}

.container-user {
  margin-top: 50px;
  display: flex;
  height: 300px;
  justify-content: center;
}

.form-group {
  padding: 20px;
}

.string {
  padding-right: 20px;
}

.select {
  padding: 20px;
}

.formulaire-new {
  width: 50%;
}

.form-control-file {
  color: white;
}

.form-control {
  height: 66px;
}

.container-date-big {
  display: flex;
  justify-content: center;
}

.container-date {
  width: 30%;
}

.container-proposez {
  position: absolute;
  right: 30px;
  top: 65px;
}

.container-proposez a {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  font-size: 26px;
  animation: 2s neon2 2s linear infinite;
}

// form .simple_form_for {
//   display: flex;
//   width: 100%;
// }
