.footer {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: $space-grblue;
  margin-top: 55px;
}

.list-inline-spatial {
  display: flex;
  text-align: center;
  bottom: -20px;
  list-style: none;
  justify-content: space-around;
  width: 600px;
  transition: 0.5s ease;
  padding-top: 7px;
}

.list-inline-spatial a i {
  transition: 0.5s ease;
}

.list-inline-spatial .fb {
  font-size: 35px;
  text-decoration: none;
  opacity: 0.8;
  color: $space-gray;
  animation: 7s neon 1s linear infinite;
  &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow: (0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.list-inline-spatial .tw {
  font-size: 35px;
  text-decoration: none;
  opacity: 0.8;
  color: $space-gray;
  animation: 7s neon 1s linear infinite;
  &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow: (0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.list-inline-spatial .lkd {
  font-size: 35px;
  text-decoration: none;
  opacity: 0.8;
  color: $space-gray;
  animation: 7s neon 1s linear infinite;
  &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow: (0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.list-inline-spatial .git {
  font-size: 35px;
  text-decoration: none;
  opacity: 0.8;
  color: $space-gray;
  animation: 7s neon 1s linear infinite;
  &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow: (0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}
