.navbar-spatial {
  display: flex;
  position: relative;
  top: 0;
  position: sticky;
  height: 50px;
  width: 100%;
  background-color: $space-grblue;
  justify-content: center;
  z-index: 1000;
}

.btn-log-in {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: white;
  transition: 0.5s ease;
    &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow:(0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.btn-log-in h4 {
  position: relative;
  color: white;
  top: 13px;
  font-size: 30px;
}

.span1 {
  display: flex;
  position: absolute;
  top: 0;
  min-height: 80px;
  width: 30%;
  background-color: $space-grblue;
  border-radius: 200px;
  justify-content: space-around;
  align-items: center;
}

.span1 a i {
  transition: 0.5s ease;
}

.glo {
  font-size: 50px;
  color: $space-gray;
    &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow:(0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.ast {
  font-size: 50px;
  color: $space-gray;
    &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow:(0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

.roc {
  font-size: 50px;
  color: $space-gray;
  &:hover {
    color: white;
    transition: 0.5s ease;
    text-shadow:(0px 0px 10px rgba(255, 255, 255, 0.9));
  }
}

/////

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
