.spaceship {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  // width: 800px;
}

.spaceship img {
  background-size: cover;
  background-position: center;
}

.btn-outline-primary {
  height: 50px;
}
